<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicha.as_android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoas"
        android:label="AlugueService"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".control.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".control.PaginaPrincipalActivity" />
        <activity android:name=".control.pre_aluguel.MenuActivity" />
        <activity android:name=".control.pre_aluguel.ConsultarActivity" />
        <activity android:name=".control.pre_aluguel.CriarActivity" />
        <activity android:name=".control.pre_aluguel.ResultadoActivity" />
        <activity android:name=".control.produto.ResultadoActivity" />
        <activity android:name=".control.produto.ConsultarActivity" />
        <activity android:name=".control.produto.MenuActivity" />
        <activity android:name=".control.produto.StatusActivity" />
        <activity android:name=".control.pre_aluguel.SelecionarProdutoActivity"></activity>
    </application>

</manifest>